__pycache__/
dist/
*.py[cod]
.venv/
venv/
.coverage
.python-version  # pyenv

# Get comprehensive list with:
# curl -s -o .gitignore -O https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
